

<!DOCTYPE html>
<html lang="en" ng-app="ui.bootstrap.demo">
    <head>
        <title>Alex test</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- import bootstrap vanaf CDN, zodat je niet alles hoeft te importen in je project -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- import defaultcss, staat een fix in voor de navbar -->
        <link rel="stylesheet" type="text/css" href="assets/css/default.css" />
        <!-- import angular-ui & alle angular componenten -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
        <!-- de Controller -->
        <script src="homecontroller.js"></script>
    </head>
    <body>


        <!-- Navigatie bar, iverse = zwart -->

        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">

                <!-- collapse button voor mobiele versies -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarItems">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>  
                    </button>
                    <!-- Logo -->
                    <a href="#" class="navbar-brand">Van der wal</a>
                </div>

                <!-- Menu Items -->
                <!-- voor mobiel -->
                <div class="collapse navbar-collapse" id="navbarItems">
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <!-- drop down menu -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Taart<span class="caret"></span></a>
                                <ul class ="dropdown-menu">
                                    <li><a href="#">Hoi </a></li>
                                </ul>        
                            </li>

                        </ul>
                    </div>

                </div>
        </nav>

        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul id="sidebar_menu" class="sidebar-nav">
                    <li class="sidebar-brand" ng-click="show = !show"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                </ul>
                <ul class="sidebar-nav" id="sidebar">     
                    <li><a>Link1<span class="sub_icon glyphicon glyphicon-flash"></span></a></li>
                    <li><a>link2<span class="sub_icon glyphicon glyphicon-paperclip"></span></a></li>
                </ul>
            </div>
            <!-- container voor body -->

            <div class="container-fluid">
                <!-- Locaties ophalen via google maps API -->
                <div id="page-content-wrapper" ng-controller="TypeaheadCtrl">
                    <h4>Asynchronous results</h4>
                    <pre>Model: {{asyncSelected| json}}</pre>
                    <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
                <!-- Popup modal gedaan met Angular BootstrapUI-->
                <h3> popup demo! </h3>
                <div ng-controller="ModalDemoCtrl">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                        <h3 class="modal-title">I'm a modal!</h3>
                        </div>
                        <div class="modal-body">
                        <ul>
                        <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                        </li>
                        </ul>
                        Selected: <b>{{ selected.item }}</b>
                        </div>
                        <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>

                    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
                    <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
                    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
                    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled}})</button>
                    <div ng-show="selected">Selection from a modal: {{ selected}}</div>
                </div>
            </div>
        </div>

    </body>
</html>